<!DOCTYPE HTML>
<html>
<head>
    <title>Aleksbgbg Downloads</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
    <main class="container">
        @RenderBody()
    </main>
</body>
</html>